// Animation fade-in
@keyframes fadein {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.99;
  }
}

// Responsive embed video
.embed-responsive {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 20px;

  iframe,
  object,
  embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.required-star {
  color: $text-link-blue;
}

.dot:after {
  content: "\2022";
  padding-left: 7px;
  padding-right: 7px;
}

.loader {
  border: 2px solid $dark-smoke;
  border-top: 2px solid $text-link-blue;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  display: inline-block;
  margin-right: 25px;
  margin-left: 25px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}