<div class="comments-container">
    <div>
        <b>{{ comment.name }}</b><span class="dot"></span><span>{{ comment.email }}</span>
        <i class="date">{{ comment.timestamp | date_to_string }}</i>
        <p class="comment">
            {{ comment.comment }}
        </p>
        <a class="reply">Reply</a>
    </div>
    {% for reply in comment.replies %}
        {% for reply_comment_hash in reply %}
            {% assign reply_comment = reply_comment_hash[1] %}
                <div class="reply">
                    <b>{{ reply_comment.name }}</b><span class="dot"></span><span>{{ reply_comment.email }}</span>
                    <i class="date">{{ reply_comment.timestamp | date_to_string }}</i>
                    <p class="comment">{{ reply_comment.comment }}</p>
                    <a class="reply">Reply</a>
                </div>
        {% endfor %}
    {% endfor %}
</div>